 body {
     font-family: arial;
     background-color: black;
     box-sizing: border-box;
 }

 .container {
     clear: both;
 }

 *, :before, :after {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 .navbar {
     background-color: black;
     height: 100px;
     width: 100%;
     clear: both;
 }

 .nav-logo {
     float: left;
 }

 .nav-logo-i {
     height: 100px;
     width: 180px;
     margin-top: 0px;
 }

 .navbar .nav-buttons {
     position: sticky;
 }

 .nav-buttons {
     float: right;
     display: block;
     cursor: pointer;
     position: fixed;
 }

 .nav-buttons a {
     text-decoration: none;
     padding: 7px 14px;
     transition: .4s;
 }

 .nav-btn-active a:hover, .nav-buttons a:hover {
     background: rgb(235, 204, 122);
     border-radius: 2px;
 }

 .container .centered {
     color: rgb(5, 138, 179);
     font-size: 22px;
     font-weight: 700;
     top: 50%;
     clear: both;
     position: sticky;
    
   
 }

 .centered {
     position: absolute;
     clear: both;
     text-transform: capitalize;
 }

 .inner-container {
     float: right;
 }

 .nav-btn {
     display: inline-block;
     text-decoration: none;
     font-weight: 700;
     color: rgb(207, 4, 4);
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-left: 40px;
     margin-right: 40px;
     margin-top: 30px;
     clear: both;
 }

 .nav-btn-active {
     display: inline-block;
     text-decoration: none;
     font-weight: 700;
     color: rgb(5, 139, 0);
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-left: 40px;
     margin-right: 40px;
     margin-top: 30px;
 }

 .all-news {
     margin: 0;
     padding: 5px;
     background-color: rgb(160, 128, 179);
 }

 .news img {
     width: 100%;
 }

 .all-news>h1, .browser {
     margin: 10px 2px;
     text-decoration: wavy;
     font-family: 'Times New Roman', Times, serif;
     color: rgb(90, 21, 0);
 }

 .news {
     width: 40%;
     display: inline-block;
     margin-left: 2px;
     margin-top: 2px;
     background-color: none;
 }

 .news h2 {
     margin: 4px;
     font-size: 90%;
     color: rgb(110, 63, 0);
 }

 .news p {
     margin: 3px;
     font-size: 80%;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-style: italic;
     color: rgb(18, 4, 51);
 }

 .container-rc::after {
     content: "";
     clear: both;
     display: table;
     width: 100%;
 }

 .container .banner-image {
     width: 100%;
     height: 280px;
     margin-top: 0px;
     clear: both;
 }

 .container-rc {
     position: absolute;
 }

 .other-conferences {
     font-size: large;
     color: rgb(0, 187, 156);
     font-weight: lighter;
     margin-left: 10px;
 }

 .other-conference {
     display: inline-block;
     width: 24%;
     padding: 3px;
 }

 .related-conference-image {
     display: block;
     position: sticky;
     width: 100%;
     height: auto;
     clear: both;
 }

 .overlay {
     position: absolute;
     background: rgba(20, 26, 32, 0.705);
     transition: .5s ease;
     color: rgb(255, 255, 255);
     opacity: 0.5;
     bottom: 0;
     font-size: 20px;
     padding: 20px;
    width: auto;
     text-align: center;
 }

 .other-conference:hover .overlay {
     opacity: 1;
     color: rgb(241, 200, 138);
 }

 #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
  }
 /*about page Styling*/
